

#hero{
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    border: 1rem;
    background-color: var(--gray-default);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    flex-direction: wrap;
    justify-content: center;
    margin-top: 0.75rem;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#seuCarro{
    width: 18rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    padding-bottom: 2rem;
    background-color: var(--gray-default);
}

#seuCarro p{
    text-align: left;
    background-color: var(--gray);
    padding: 1.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}


#seuCarro ul{
    justify-content: center;
}

#seuCarro li{
    margin-left: 0.5rem;
    padding: 1rem;
}

li{
    list-style: none;
}

.interac{
    
    display: flex;
    justify-content: center;
    align-content: center;
    
    width: 18rem;
    margin: 3rem;
    padding: 2rem;
    left: 1.93%;
    right: 1.69%;
    top: 65.4%;
    bottom: 25.22%;
    background: var(--gray-default);
    border-radius: 50px;   
}

.interac a{
    text-decoration: none;
    color: black;
}

