:root {
    --darkest-blue: #081534;
    --dark-blue: #133A7C;
    --blue: #2A6BAC;
    --light-blue: #47A8E5;
    --white: #fff;
    --gray: #C6C6C6;
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
