:root {
    --darkest-blue: #081534;
    --dark-blue: #133A7C;
    --blue: #2A6BAC;
    --light-blue: #47A8E5;
    --white: #fff;
    --gray: #C6C6C6;
    --gray-default: #e6e6e6;
    --light-blue-default: #b6daee;
    --not-so-gray: #F3F3F3;
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header nav {
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav div.logo {
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 50%;
    height: 10vh;
    margin: 0 auto;
}

header nav button {
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 2rem;
    margin-left: 1rem;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.active, .accordion li:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out !important;
}

#SC{
    background-color: #eee !important;
    padding: 0 !important;
}

.Home{
    height: 100%;
    width: 100%;
}